body{
background:#cfcfcf;
font-family:Tahoma,Verdana,sans-serif;
margin:0;
}

#site{
width:900px;
margin:20px auto;
background:#ddd;
border:4px ridge white;
}

header{
background:darkred;
color:yellow;
text-align:center;
padding:20px;
text-shadow:2px 2px black;
}

.sidebar{
float:left;
width:220px;
padding:20px;
background:#bbb;
}

main{
margin-left:260px;
padding:20px;
}

.post{
background:white;
border:3px ridge #999;
padding:15px;
margin-bottom:20px;
}

a{
color:blue;
font-weight:bold;
}

a:hover{
color:red;
}

.win95-player{
background:#c0c0c0;
border-top:3px solid white;
border-left:3px solid white;
border-right:3px solid #444;
border-bottom:3px solid #444;
padding:12px;
width:420px;
font-family:Tahoma, sans-serif;
}

.titlebar{
background:navy;
color:white;
padding:5px;
font-weight:bold;
margin-bottom:12px;
}

.controls button{
background:#c0c0c0;
border-top:2px solid #fff;
border-left:2px solid #fff;
border-right:2px solid #808080;
border-bottom:2px solid #808080;
box-shadow:1px 1px 0 #000;
padding:8px 14px;
margin-right:8px;
font-weight:bold;
cursor:pointer;
}

.controls button:active{
border-top:2px solid #808080;
border-left:2px solid #808080;
border-right:2px solid #fff;
border-bottom:2px solid #fff;
box-shadow:none;
}
.status{
margin-top:12px;
background:black;
color:#00ff00;
padding:8px;
font-family:monospace;
}

.win95-player{
margin-top:15px;
box-shadow:2px 2px 0 #666;
}
